<!DOCTYPE html>
<html>
<head>
  {% if page.title %}
    <title>{{ page.title }} // subrational</title>
  {% else %}
    <title>subrational</title>
  {% endif %}
  <link href='http://fonts.googleapis.com/css?family=PT+Serif|Bitter|Oxygen+Mono|Oswald:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/assets/styles/reset.css" />
  <link rel="stylesheet" type="text/css" href="/assets/styles/style.css" />
  <link rel="stylesheet" type="text/css" href="/assets/styles/syntax.css" />
</head>
<body>
  {{ content }}
</body>
</html>
