<!DOCTYPE html>
<html>
<head>
  {% if page.title %}
    <title>{{ page.title }} // {{ site.name }}</title>
  {% else %}
    <title>{{ site.name }}</title>
  {% endif %}
  <meta http-equiv="Content-Language" content="en" />
  <link href='http://fonts.googleapis.com/css?family=PT+Serif|Bitter|Oxygen+Mono|Oswald:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/assets/styles/reset.css" />
  <link rel="stylesheet" type="text/css" href="/assets/styles/style.css" />
  <link rel="stylesheet" type="text/css" href="/assets/styles/syntax.css" />
  <link href="/feed.xml" type="application/rss+xml" rel="alternate" title="{{ site.name }}" />
  <link rel="author" href="https://plus.google.com/109513141901932916756/about" title="Chris Schmich" />
  <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
  <script src="/assets/scripts/ga.js"></script>
</head>
<body>
  {{ content }}
</body>
</html>
